<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FloraGirardot - Inicio</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header Superior -->
<header class="main-header">
    <div class="header-container">
        <div class="logo-group">
            <img src="../public/assets/img/logo-floragirardot.svg" alt="Isotipo FloraGirardot" class="logo-icon">
            <span class="logo-title">FloraGirardot</span>
        </div>

        <nav class="nav-menu">
            <a href="index.html" class="nav-link active">Inicio</a>
            <a href="catalogo.html" class="nav-link">Catálogo</a>
            <a href="participacion.html" class="nav-link">Participación</a>
            <a href="#acerca" class="nav-link">Acerca de</a>
            <a href="catalogo.html" class="btn-buscar">Buscar</a>
        </nav>
    </div>
</header>

<!-- Sección Hero Principal -->
<main class="hero-container">
    <div class="hero-text-side">
        <p class="subtitle">Descubre la flora de</p>

        <!-- Título con el bloque azul para el borrador -->
        <h1 class="city-title">
            <span class="text-red">GIRA</span><span class="badge-blue">R D</span><span class="text-green">OT</span>
        </h1>
    </div>

    <div class="hero-image-side">
        <img src="../public/assets/img/acacia-roja-hero.svg" alt="Flor de Acacia Roja" class="hero-img">
    </div>
</main>

</body>
</html>